<h1>Cadastrar</h1>
<form action="/add" method="post">
  <label for="title">Título: </label>
  <input type="text" id="title" name="title" required>

  <label for="content">Conteúdo: </label>
  <textarea id="content" name="content" required></textarea>

  <div class="button-group">
    <button type="submit">Cadastrar</button>
    <a href="/"><button type="button">Voltar</button></a>
  </div>
</form>