<header class="header">
  <h1>Posts:</h1>
  <a href="/register">
    <button>Cadastrar novo post</button>
  </a>
</header>
<main>
  {{#each posts}}
    <section class="post">
      <header class="post-header">
        <h2 class="post-title">{{title}}</h2>
      </header>
      <p class="post-content">{{content}}</p>
      <div class="container">
        <a href="/delete/{{id}}"><button class="delete">Deletar</button></a>
        <a href="/update/{{id}}"><button class="update">Alterar</button></a>
      </div>
    </section>
  {{/each}}
</main>
